/* MOBILE */
@media only screen and (max-width: 768px) {
    .cta-container {
        background-color: rgba(200, 156, 89, 0.192);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        gap: 15px;
    }

    .cta-container span {
        font-family: var(--font-minerva);
        font-weight: 100;
        font-size: 16px;
        color: var(--text-color);
        padding: 0 30px;
    }

    .cta-btn {
        width: fit-content;
        height: fit-content;
        padding: 5px;
        width: 100%;
        border: 1px solid var(--text-color);
        text-align: center;
    }

    .cta-btn span {
        position: relative;
        font-family: var(--font-poppins);
        font-weight: 100;
        font-size: 14px;
        color: var(--text-color);
    }

    .cta-container img {
        display: none;
    }
}




/* DESKTOP  */
@media only screen and (min-width: 768px) {
    .cta {
        cursor: pointer;
        padding: 50px 100px 50px;
    }

    .cta-container {
        position: relative;
        background-color: rgba(200, 156, 89, 0.192);
        height: 270px;
        display: flex;
        text-align: center;
        align-items: center;
        text-transform: uppercase;
    }

    .cta-container span {
        font-family: var(--font-minerva);
        font-weight: 100;
        font-size: 24px;
        margin: 280px;
        color: var(--text-color);
    }

    .cta-container img {
        position: absolute;
        bottom: 85px;
        right: 250px;
        width: 150px;
        transition: right 0.2s;
    }

    .cta-container:hover {
        background-color: rgba(200, 156, 89, 0.404);
    }

    .cta-container:hover > img {
        right: 230px;
    }

    .cta-btn {
        display: none;
    }
}