.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.343);
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--secondary-color);
}
/* MOBILE */
@media only screen and (max-width: 768px) {
    .navbar {
        border: none;
    }

    .logo {
        margin-top: 10px;
        margin-left: -40px;
    }

    .logo img {
        width: 86px;
        height: 43px;
    }

    .links ul {
        display: none;
    }

    .lang-search {
        display: none;
    }

    .menu-icon {
        color: var(--main-color);
        position: relative;
        right: -20px;
    }
}



/* DESKTOP */
@media only screen and (min-width: 769px) {

    .logo {
        margin-top: 26px;
        margin-left: -15px;
    }

    .logo img {
        width: 165px;
        height: 85px;
    }

    .links ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 40px;
    }

    .links ul a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-family: var(--font-poppins);
        font-weight: 100;
        font-size: 12px;
        line-height: 25px;
    }

    .lang-search {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        gap: 15px;
    }

    .lang-menu {
        font-size: 12px;
        display: flex;
        gap: 5px;
    }

    .lang-menu .icon {
        color: var(--secondary-color);
    }

    .menu-icon {
        color: var(--main-color);
        display: none;
    }
}

/* LARGE SCREENS */
@media only screen and (min-width: 1025px) {
    .links ul a {
        font-size: 16px;
    }
}