/* MOBILE */
@media only screen and (max-width: 768px) {
    .subscribe {
        margin-top: 50px;
        padding: 10px;
    }
    .separator {
       display: none;
    }

    .subscribe-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .subscribe-container h1 {
        font-family: var(--font-poppins);
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 100;
    }

    .subscribe-container p {
        font-family: var(--font-poppins);
        font-size: 16px;
        font-weight: 100;
    }

    .subscribe-container .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding-bottom: 10px;
    }

    .input input {
        background-color: transparent;
        border: none;
        height: 50px;
        padding: 5px 30px;
        border-bottom: 1px solid rgba(2, 41, 62, 0.30000001192092896);
    }

    .input input::placeholder {
        font-family: var(--font-poppins);
        font-size: 16px;
        text-transform: uppercase;
    }

    .subscribe-btn {
        width: 100%;
        height: fit-content;
        padding: 5px 30px;
        border: 1px solid var(--text-color);
    }

    .subscribe-btn span {
        font-family: var(--font-poppins);
        font-weight: 100;
        font-size: 14px;
        color: var(--text-color);
        text-transform: uppercase;
    }

    .subscribe-btn img {
        display: none;
    }

    .subs-checkbox {
        margin-top: 20px;
        display: flex;
        text-align: start;
        align-items: flex-start;
        gap: 10px;
    }

    .subs-checkbox span {
        font-family: var(--font-poppins);
        font-size: 14px;
    }
}




/* DESKTOP  */
@media only screen and (min-width: 768px) {
    .subscribe {
        background: url(../../assets/subs-bg.png), linear-gradient(180deg, rgba(241, 240, 234, 1) 0%, rgba(255, 255, 255, 0) 40%) no-repeat center;
        background-blend-mode: overlay;
        background-size: cover;
        height: 1000px;

    }

    .separator {
        margin-top: 50px;
        margin-bottom: 40px;
        width: 50%;
        height: 150px;
        border-right: 2px solid #02293e9b;
    }

    .subscribe-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
    }

    .subscribe-container h1 {
        font-family: var(--font-poppins);
        font-size: 34px;
        font-weight: 400;
    }

    .subscribe-container p {
        font-family: var(--font-poppins);
        font-size: 20px;
        font-weight: 400;
    }

    .subscribe-container .input {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;
    }

    .input input {
        background-color: transparent;
        border: none;
        width: 500px;
        height: 50px;
        padding: 5px 30px;
        border-bottom: 1px solid rgba(2, 41, 62, 0.30000001192092896);
    }

    .input input::placeholder {
        font-family: var(--font-poppins);
        font-size: 16px;
        text-transform: uppercase;
    }

    .subscribe-btn {
        position: relative;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        padding: 5px 30px;
        border: 1px solid var(--text-color);
        margin-top: 50px;
    }

    .subscribe-btn span {
        position: relative;
        z-index: 1;
        font-family: var(--font-poppins);
        font-weight: 100;
        font-size: 14px;
        color: var(--text-color);
        text-transform: uppercase;
    }

    .subscribe-btn img {
        position: absolute;
        right: -18px;
        bottom: 16px;
        width: 35px;
        transition: right 0.2s;
    }

    .subscribe-btn::after {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        left: 0;
        background-color: var(--text-color);
        transition: right 0.2s;
    }

    .subscribe-btn:hover::after {
        right: 0;
    }

    .subscribe-btn:hover> :last-child {
        right: -25px;
    }

    .subscribe-btn:hover> :first-child {
        color: var(--main-color);
    }

    .subs-checkbox {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .subs-checkbox span {
        font-family: var(--font-poppins);
        font-size: 14px;
    }
}

/* LARGE SCREENS */
@media only screen and (min-width: 1025px) {
    .subscribe-container h1 {
        font-size: 48px;
    }
    .subscribe-container p {
        font-size: 24px;
    }
    .subscribe-btn span {
        font-size: 16px;
    }
}