/* MOBILE */
@media only screen and (max-width: 768px) {
    .footer {
        height: auto;
        padding: 10px;
        margin: 20px 0px;
        background-color: #071e479a;
        text-align: center;
    }

    .footer-container {
        color: var(--main-color);
        font-family: "PT Sans";
    }

    .cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        height: 330px;
        text-align: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.30000001192092896);
    }
    .cols > :first-child {
        grid-area: 1 / 2 / 2 / 3;  
    }
    .cols> :nth-child(3) {
        display: none;
    }

    .cols .column .footer-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-links a {
        text-decoration: none;
        color: var(--main-color);
        font-size: 14px;
    }

    .footer-links h1 {
        font-family: "PT Sans";
        font-size: 22px;
    }

    .footer-links .email {
        color: var(--main-color);
    }

    .footer-links .location {
        text-decoration: underline white;
    }

    .footer span {
        font-size: 12px;
    }
}



/* DESKTOP  */
@media only screen and (min-width: 768px) {
    .footer {
        height: 370px;
        background-color: #071e479a;
        margin: 0;
    }

    .footer-container {
        margin: 0 100px;
        color: var(--main-color);

        font-family: "PT Sans";
    }

    .cols {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 330px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.30000001192092896);
        margin-bottom: 10px;
        padding-top: 30px;
    }

    .cols .column .footer-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-links a {
        text-decoration: none;
        color: var(--main-color);
        font-size: 14px;
    }

    .footer-links h1 {
        font-family: "PT Sans";
        font-size: 22px;
    }

    .footer-links .email {
        color: var(--secondary-color)
    }

    .footer-links .location {
        text-decoration: underline white;
    }
}
